.container {
    position: relative;
    padding: 10px;
    background-color: gray;
    margin: 10px auto;
    color: white;
    width: 99%;
    border-radius: 10px;
}

.container b {
    color: lightskyblue;
}